/***
* RHD Dev: Compiled at 12:26:57 PM on 30-09-2015
***/

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
html {
  min-width: 48.5625rem;
}
#site-navigation-container {
  background: none;
  bottom: 0.8em;
}
#site-navigation {
  list-style: none;
  padding-left: 0;
  width: 85%;
  max-width: 64em;
  position: relative;
  margin: 0 auto 0 auto;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
#site-navigation li {
  height: 71.6px;
  margin: 0;
  font-size: 1.4em;
  background-size: 100% 100%;
  z-index: 400;
  overflow-y: hidden;
  padding: 1em 1em 0.5em 1em;
  background-size: 100% 100%;
}
#site-navigation li#menu-item-35 {
  background-image: url("../img/about.png");
}
#site-navigation li#menu-item-37 {
  background-image: url("../img/consulting.png");
}
#site-navigation li#menu-item-40 {
  background-image: url("../img/writing.png");
}
#site-navigation li#menu-item-39 {
  background-image: url("../img/news.png");
}
#site-navigation li#menu-item-36 {
  background-image: url("../img/collaborators.png");
}
#site-navigation li#menu-item-38 {
  background-image: url("../img/contact.png");
}
#site-navigation li a {
  text-decoration: none;
}
#site-navigation li a:link,
#site-navigation li a:visited {
  color: inherit;
}
#site-navigation li a:hover,
#site-navigation li a:active,
#site-navigation li a:focus {
  color: inherit;
}
#site-navigation li .sub-menu {
  position: absolute;
  padding-left: 0;
  line-height: 1.5;
  margin-top: 0.4rem;
  display: block;
}
#site-navigation li .sub-menu li {
  height: auto;
  display: block;
  margin: 0;
  background: none;
  font-size: 1em;
  padding: 0;
}
.menu-item-has-children {
  position: relative;
}
#primary {
  width: 62.5%;
  float: right;
}
#primary.fullwidth {
  width: 100%;
}
#secondary {
  width: 31.25%;
  display: block;
  float: left;
  margin: 0;
}
.page-title {
  font-size: 4em;
}
.entry-content img.alignleft {
  margin: 0 1em 0 0;
  float: left;
}
.entry-content img.alignright {
  margin: 0 0 0 1em;
  float: right;
}
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
}
#colophon #footer-content {
  width: 85%;
  max-width: 64em;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 3.5em 1em 1em 1em;
  background: url("../img/footer.png") no-repeat;
  background-size: 100% 100%;
  box-shadow: none;
}
#footer-widget-area .widget_rhd_mailchimp_widget {
  width: 92%;
}
#footer-widget-area .widget_rhd_mailchimp_widget .rhd_mc_text {
  width: 66%;
  float: left;
  text-align: left;
}
#footer-widget-area .widget_rhd_mailchimp_widget .rhd_mc_subscribe {
  width: 25%;
  float: right;
  margin-right: 5%;
}
/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */
@media screen and (max-width: 42rem) {
  #primary,
  #secondary {
    width: 100%;
    float: none;
    margin: 1em auto;
  }
  #primary .widget-title,
  #secondary .widget-title,
  #primary .textwidget,
  #secondary .textwidget {
    text-align: center;
  }
  #primary .twitter-timeline,
  #secondary .twitter-timeline {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  #colophon {
    width: 100%;
  }
  #colophon #footer-content {
    padding: 1em 1em 1em;
    background: #fff;
    box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.5);
  }
  #colophon #footer-content #footer-widget-area .widget_rhd_mailchimp_widget .rhd_mc_text {
    width: 70%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  #colophon #footer-content #footer-widget-area .widget_rhd_mailchimp_widget .rhd_mc_subscribe {
    width: 70%;
    float: none;
    margin: 1em auto 0 auto;
  }
  #colophon #footer-content #footer-widget-area .widget_rhd_mailchimp_widget .rhd_mc_email {
    margin-bottom: 1em;
  }
}
